<include file="public/header" title="{$model.name}" keywords="{$model.name}"/>
<link href="__CSS__/dataTables.bootstrap.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption pull-left"><i class="fa fa-columns"></i>&nbsp;{$model.name}</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="col-xs-4 col-md-6 pb10 zindex">
                    <a href="__URL__/add_book?aid={:input('aid')}" class="btn btn-success">添加{$model.name}</a>
                    <a href="__URL__/book_status" data-role="forbidden" class="btn btn-warning status">选中禁用</a>
                    <a href="__URL__/book_status" data-role="enable" class="btn btn-info status">选中启用</a>
                    <a href="__URL__/book_status" data-role="delete-all" class="btn btn-danger status">选中删除</a>
                	<include file="public/search" title="书籍名称/作者" date="添加日期">
                </div>
                <table class="table table-striped table-bordered table-hover pt10" id="simpledatatable">
                    <thead>
                        <tr>
                            <th style="width:80px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="group-checkable">
                                        <span class="text"></span>
                                    </label>
                                </div>
                            </th>
                            <th>书名</th>
                            <th>作者</th>
                            <th class="hidden-xs">简介</th>
                            <th class="hidden-xs">价格</th>
                            <th class="hidden-xs">出版社</th>
                            <th class="hidden-xs">分类</th>
                            <th class="hidden-xs">书架</th>
                            <th class="hidden-xs">库存</th>
                            <th class="hidden-xs">借出</th>
                            <th class="hidden-xs">剩余</th>
                            <th class="hidden-xs">添加时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="vo">
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkboxes" value="{$vo.id}">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    {$vo.book_name}
                                </td>
                                <td class="tips" data-role = "{$vo.book_author}">
                                    {$vo.book_author|sub_str=0,10}
                                </td>
                                <td class="tips hidden-xs" data-role = "{$vo.book_desc}">
                                    {$vo.book_desc|sub_str=0,10}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.book_price}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.book_publish}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.cate_name}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.book_mark}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.book_totals}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.book_given}
                                </td>
                                <td class="hidden-xs">
                                    {$vo.book_left}
                                </td>
                                <td class="hidden-xs">
                                   {$vo.book_date|date='Y-m-d H:i:s',###}
                                </td>
                                <td>
                                   <eq name="vo.book_status" value="0"><span class="text-success">正常</span></eq>
                                   <eq name="vo.book_status" value="1"/><span class="text-danger">禁用</span> </eq>
                                </td>
                                <td>
                                    <a href="__URL__/add_book?id={$vo['id']}&aid={:input('aid')}">编辑</a>
                                    <eq name="vo.book_status" value="0">
                                    	<a href="__URL__/book_status&aid={:input('aid')}&p={:input('p')}" data-role="forbidden" data-id="{$vo.id}" class="status">禁用</a>
                                    </eq>
                                    <eq name="vo.book_status" value="1"/>
                                    	<a href="__URL__/book_status&aid={:input('aid')}&p={:input('p')}" data-role="enable" data-id="{$vo.id}" class="status">正常</a>
                                    </eq>
                                    <a href="__URL__/book_status" data-role="delete"  data-id="{$vo.id}" class="status">删除</a>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
                <div class="mt10">
                	{$list->render()}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#simpledatatable').dataTable({
            "sDom": "Tflt",
            "iDisplayLength": {$count},
            "searching": false,
            "paging":false,
            "oTableTools": {
                "aButtons": [
                    "copy", "csv", "xls","pdf"
                ],
                "sSwfPath": "//cdn.bootcss.com/datatables-tabletools/2.1.5/swf/copy_csv_xls_pdf.swf"
            },
            "language": {
                "search": "",
                "sEmptyTable": "暂无数据",
                "sLengthMenu": "_MENU_",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumns": [
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false }
            ],
            "aaSorting": []
        });
        $('#simpledatatable .group-checkable').change(function () {
            var set = $(".checkboxes");
            var checked = $(this).is(":checked");
            $(set).each(function () {
                if (checked) {
                    $(this).prop("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).prop("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });

        });
    });
</script>
<include file="public/footer"/>