<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>图书查询</title>
		<link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
	    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" />
	    <script src="__JS__/jquery-2.0.3.min.js"></script>
	    <script src="__JS__/bootstrap.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="__PLUG__/layui/css/layui.css"/>
	    <script src="__PLUG__/layui/layui.js"></script>
	    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
	</head>
	<body>
		<div class="container-fluid search">
			<form action="__SELF__" method="get" autocomplete="off" class="form-inline">
				<div class="form-group">
					<label for="q">关键词:</label>
					<input type="text" name="q" value="{$q}" placeholder="请输入要查询图书/出版社"/>
					<input type="hidden" name="p" value="{$p}" />
				</div>
				<button type="submit" class="btn btn-primary">提交</button>
			</form>
			<div class="clearfix"></div>
			<div class="packages" style="display:none;">
				<div style="height:auto;overflow:hidden;margin-top:10px;margin-bottom:10px;">
					<label>我的书包:</label>
					<div class="clearfix"></div>
					<form method="post" id="#add_borrow">
						<div class="package">
						
						</div>
					</form>
				</div>
				<button type="button" class="btn btn-warning add_borrow">借书</button>
			</div>
			<hr/>
			<div class="book-list">
				<notempty name="list">
					<volist name="list" id="vo">
						<div class="col-lg-2 col-md-2 col-xs-6" data-role='{$vo.id}'>
							<h5>
								书名：{$vo['book_name']}
							</h5>
							<p>
								作者：{$vo['book_author']}
							</p>
							<p>
								出版社：{$vo['book_publish']}
							</p>
							<a href="javascript:void(0);" data-role="{$vo['id']}" title="{$vo['name']}" class="plus">
								<i class="fa fa-plus pull-right"></i>
							</a>
						</div>
					</volist>
					<div class="mt10">
	                	{$list->render()}
	                </div>
				</notempty>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
			layui.use('layer', function(){
				$('.plus').on('click',function(e){
					e.preventDefault();
					var pl = $(this);
					let id = $(this).attr('data-role');
					if($(this).hasClass('disabled')){
						return '';
					}
					$.post('__URL__/add_session',{id:id},function(result){
						if(result.status==-1){
							layer.alert(result.msg,{title:'错误提示',icon:5,end:function(){
								layer.open({
									type: 2,
									title:'查看图片',
									area: ['750px', '450px'], //宽高
									content:'__URL__/check_no?_='+Math.random()
								});
							}});
						}else if(result.status==1){
							$html = '<div class="col-lg-2 col-md-2 col-xs-6 blist" data-role="'+result['data'].id+'">'
									+result['data'].book_name
									+'<input type="text" name="num['+result['data'].id+']" value="1" class="disabled">'
									+'<a href="javascript:void(0);" class="minus"><i class="fa fa-minus pull-right"></i></a></div>';
							$('.package').append($html);
							$('.packages').show();
							pl.empty().text('已加入书包').addClass('disabled');
						}else{
							layer.alert(result.msg,{icon:5});
						}
					});
				});
				
				$(document).on('click','.minus',function(e){
					e.preventDefault();
					var el = $(this).parent('div'),i = el.attr('data-role');
					el.remove();
					$('.book-list>div').each(function(){
						var l = $(this),j=l.attr('data-role');
						if(i==j){
							l.children('a').html('<i class="fa fa-plus pull-right"></i>').removeClass('disabled');
						}
					});
				});
				
				$('.add_borrow').on('click',function(e){
					e.preventDefault();
				 	var index = layer.load(2, {
                        shard: [0.6, "#000"]
                    });
					if($('.blist').length>0){
						var form_data = new FormData();
						$('.blist').each(function(){
							var el = $(this).children('input');
							form_data.append(el.attr('name'),el.val());
						});
						$.ajax({
						  url: "__URL__/add_borrow",
						  type: "POST",
						  data: form_data,
						  processData: false,  // 告诉jQuery不要去处理发送的数据
						  contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
						  success:function(result){
						  	layer.close(index);
					  		if(result.status==0){
					  			layer.alert(result.msg,{icon:5});
					  		}else{
					  			layer.confirm(result.msg, {
			                      btn: ['是的确定','不没想好'] //按钮
			                   }, function(){
			                       window.location.href=result.redirect;
			                    },function(){
			                    	window.location.reload();
			                    });
					  		}
						  }
						});
					}
				});
			});
		});
	</script>
</html>
